@use '@bap/design-system/tokens/spacing.scss' as spacing;

.headingRow {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: spacing.$spacing-05;
  justify-content: space-between;
}

.headingActions {
  display: flex;
  flex-wrap: wrap;
  gap: spacing.$spacing-03;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: spacing.$spacing-05;
  max-inline-size: 20rem;
}
