WEB_PORT=3000
POSTGRES_PORT=5432
MAILPIT_HTTP_PORT=8025
POSTGRES_DB=bap
BAP_PUBLIC_HOST=bap.example.org
BAP_PUBLIC_ORIGIN=https://bap.example.org
POSTGRES_ADMIN_PASSWORD_FILE=.secrets/postgres_admin_password
BAP_MIGRATOR_PASSWORD_FILE=.secrets/bap_migrator_password
BAP_AUTH_PASSWORD_FILE=.secrets/bap_auth_password
BAP_API_PASSWORD_FILE=.secrets/bap_api_password
BAP_REPORTING_PASSWORD_FILE=.secrets/bap_reporting_password
BAP_BACKUP_PASSWORD_FILE=.secrets/bap_backup_password
BETTER_AUTH_SECRET_FILE=.secrets/better_auth_secret
BAP_MAIL_SENDER=no-reply@bap.example.org
BAP_MAIL_TRANSPORT=resend
BAP_RESEND_API_KEY_FILE=.secrets/resend_api_key
BAP_AI_PROVIDER_CONFIG_FILE=.secrets/ai_provider_config
RESTIC_PASSWORD_FILE=.secrets/restic_password
RESTIC_REPOSITORY_FILE=.secrets/restic_repository
