@use '@bap/design-system/tokens/spacing.scss' as spacing;
@use '@bap/design-system/tokens/type.scss' as type;

.sectionHeading {
  @include type.type-style('heading-03');
}

.quotaForm {
  max-inline-size: 32rem;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: spacing.$spacing-02;
}

.auto {
  align-items: center;
  display: inline-flex;
  gap: spacing.$spacing-02;
}
